.container {
  color: #002333;
}
.carousel {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}
nav {
  background: #002333 !important;
}
.card a {
  background: #002333 !important;
  color: #fff !important;
}
.nav .nav-item button {
  color: #002333 !important;
  background: none !important;
  border-radius: 0;
  border-bottom: 2px solid transparent;
}
.nav .nav-item button.active {
  border-bottom: 2px solid #002333;
  font-weight: 700;
}
